# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production
/backend/dist
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/
*.xlsx
*.xls

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Database
postgres_data/

# Misc
.cache/
